.fonte-titulo{
    font-family: 'Pacifico', cursive;
}

.imagen-carrossel{
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.cor-titulo{
    color:darkred
}

.botao-cor-especial{
    background-color: darkred;
    color: white;
}

.borda-cor-especial{
    border-color: darkred;
}

.imagem-receitas{
    object-fit: cover;
    object-position: 0 80%;
    height: 200px;
}